*{
    margin : 0;
    padding : 0;
    }
body{
    background-color: #171717;
}
header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    background-color: #1562CF;
}
#logo{
    width: 15em;
    height: 15em;
    padding: 10px;
}
.headTitle {
    text-align: center;
    align-self: center;
    font-family: Verdana;
    font-size: 7em;
    color: #f5f5f5;
    -webkit-text-stroke:#171717 5px;
}
.menu{
    background-color: #1562CF;
    margin-top: 5px;
    height: 3em;
}
.menu ul{
    list-style-type: none;
}
.menu li{
    float: left;
    width: 16%;
    font-size: 2em;
    text-align: center;
}
.menu a{
    display: inline-block; 
    text-decoration: none;
    font-family: Verdana;
    color: #f5f5f5;
}
.search{
    width: 100%;
    height: 3em;
}
