body *{
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 2px solid black;
}
.one {
    background: linear-gradient(to bottom left, red ,green,blue );
}
.two {
    background: linear-gradient(-70deg, yellow,purple 25%);
}
p {
    background: linear-gradient(to top, rgba(0,0,0, 0.5), rgba(255,255,255));
} 
.three {
    background: radial-gradient(lightblue, pink);
}
.four {
    background: repeating-radial-gradient(10px, black, white);
}
.four:hover {
    background: repeating-radial-gradient(10px, white, black);
}
