body {
    background: lightgray;
}
#articles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    text-align: center;
}
.uno {
    border: solid black 1px;
    width: 30%;
    background: white;
}
.dos {
    border: solid black 1px;
    width: 30%;
    background: white;
}
.tres{
    border: solid black 1px;
    width: 30%;
    background: white;
}
.bouton {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 3em;
}
input {
    color: white;
    background-color: black;
}
