h1 {
    text-align: center;
}
main {
    display: flex;
    justify-content: baseline;
}
#convo {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    border-radius: 2%;
    border: solid blue 2px;
    width: 60%;
    margin-right: 50px;
    padding: 10px;
}
.un {
    grid-column: 1;
    grid-row: 1;
}
.deux {
    grid-column: 2;
    grid-row: 2;
    background: lightgray;
}
.trois {
    grid-column: 1;
    grid-row: 3;
}
.quatre {
    grid-column: 2;
    grid-row: 4;
    background: lightgray;
}
.cinq {
    grid-column: 1;
    grid-row: 5;
}
.six {
    grid-column: 2;
    grid-row: 6;
    background: lightgray;
}
#users {
    display: flex;
    border-radius: 5%;
    border:solid blue 2px ;
    height: 150px;
    padding: 20px;
    flex-direction: column;
    align-self: center;
}
#message {
    width: 54.5%;
}
input {
    height: 35px;
    margin-top: 5px ;
}