h1 {
    color: red;
    text-align: center;
    font-size: 2em;
}
h3 {
    color: blue;
    font-size: 1.5em;
}
#Luffy p {
    background-color: lightgrey;
}
#Drake p {
    background-color: lightgrey;
}
strong {
    font-style:normal ;
    color:greenyellow;
}
em {
    font-style: normal;
    color: orange;
    font-size: 2em;
    text-decoration: underline;
}
#Law p {
    background-color: pink;
}
#Drake h3 {
    color: green;
    text-decoration: underline;
    text-align: right;
}